@font-face {
    font-family: 'BPdotsVertical';
    src: url('fonts/BPdotsVertical-Bold.woff2') format('woff2'),
        url('fonts/BPdotsVertical-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsSquares';
    src: url('fonts/BPdotsSquares.woff2') format('woff2'),
        url('fonts/BPdotsSquares.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsSquares';
    src: url('fonts/BPdotsSquares-Light.woff2') format('woff2'),
        url('fonts/BPdotsSquares-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsSquares';
    src: url('fonts/BPdotsSquares-Bold.woff2') format('woff2'),
        url('fonts/BPdotsSquares-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsVertical';
    src: url('fonts/BPdotsVertical.woff2') format('woff2'),
        url('fonts/BPdotsVertical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsPlus';
    src: url('fonts/BPdotsPlus-Bold.woff2') format('woff2'),
        url('fonts/BPdotsPlus-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsPlus';
    src: url('fonts/BPdotsPlus.woff2') format('woff2'),
        url('fonts/BPdotsPlus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsDiamond';
    src: url('fonts/BPdotsDiamond.woff2') format('woff2'),
        url('fonts/BPdotsDiamond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsMinus';
    src: url('fonts/BPdotsMinus.woff2') format('woff2'),
        url('fonts/BPdotsMinus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdots';
    src: url('fonts/BPdots.woff2') format('woff2'),
        url('fonts/BPdots.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdots';
    src: url('fonts/BPdots-Light.woff2') format('woff2'),
        url('fonts/BPdots-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsMinus';
    src: url('fonts/BPdotsMinus-Bold.woff2') format('woff2'),
        url('fonts/BPdotsMinus-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsDiamond';
    src: url('fonts/BPdotsDiamond-Light.woff2') format('woff2'),
        url('fonts/BPdotsDiamond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdots';
    src: url('fonts/BPdots-Bold.woff2') format('woff2'),
        url('fonts/BPdots-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPdotsDiamond';
    src: url('fonts/BPdotsDiamond-Bold.woff2') format('woff2'),
        url('fonts/BPdotsDiamond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: 'BPdotsDiamond';
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
}

.header {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr;
    padding: 10px 20px 10px 20px;
    align-items: center;
}

label,
input,
select,
button {
    font-weight: bold;
}


.header>h1 {
    grid-column: 2;
}

.header>.add-task {
    justify-self: end;
}

.header > button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
}

.delete-project-button,
.add-project>.add-project-button,
.add-task>.add-button {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.delete-project-button {
    position: relative;
    top: 25px;
    align-self: center;
    justify-self: center;
    background-color: white;
    border: 1px dashed black;
    padding: 5px 10px 5px 10px;
    border-radius: 16px;
}

.container {
    padding: 20px;
}

.projects {
    display: grid;
    row-gap: 55px;
    column-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.delete-project-button > img,
.checkbox-button > img,
.delete-task-button-img,
.save-button-img,
.header > button > img,
.add-button>svg,
.add-project-button>img,
.add-button>img {
    height: 2rem;
}

.delete-task-button {
    margin-left: auto;
}

.save-button-img:hover,
.header > button > img:hover,
.add-button>svg:hover,
.add-project-button>img:hover,
.add-button>img:hover,
.delete-task-button:hover {
    transition: transform 0.3s;
    transform: translateY(-1px);
}

.proj-card > form {
    display: flex;
    gap: 10px;
}

.proj-header {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.proj-name {
    height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.proj-card {
    padding: 20px 20px 5px 20px;
    border: dashed black 1px;
    border-radius: 16px;
}

.tasks {
    display: grid;
    gap: 10px;
    font-size: 1.2rem;
}

.task {
    display: flex;
    gap: 5px;
    align-items: center;
}

.new-proj {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-task {
    display: grid;
    gap: 20px;
    justify-self: center;
    width: max(500px);
    padding: 25px;
    border: dashed 1px black;
    border-radius: 16px;
}

.view-task-header {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: dashed 1px black;
    border-radius: 16px;
}

.view-task-project-name {
    padding-left: 25px;
    grid-column: 1/3;
}

.view-task-submit {
    justify-self: end;
}

.view-task-container {
    display: grid;
    gap: 15px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    padding: 20px;
    border: dashed 1px black;
    border-radius: 16px;
}

.view-task-title {
    grid-row: 1;
    grid-column: 1 / 2;
}

.view-task-notes {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
}

.view-task-desc {
    grid-column: 1/ 3;
    grid-row: span 2;
}

.view-task-isFinished {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

.view-task-dueDate,
.view-task-priority,
textarea,
input {
    padding: 10px;
    font-size: 1rem;
    border: dashed 1px black;
    border-radius: 16px;
}

.view-task-isFinished {
    display: none;
}

.checkbox:hover,
.proj-name:hover,
.task-title:hover,
button:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: #d8d8d8;
}

select,
::picker(select) {
  appearance: base-select;
}

label {
  width: fit-content;
  align-self: center;
}

select {
  flex: 1;
}

select {
  border: 1px dashed #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
}

select:hover,
select:focus {
  background: #dddddd;
}
select::picker-icon {
  color: #999999;
  transition: 0.5s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
}
option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
  border-radius: 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}
option:nth-of-type(odd) {
  background: white;
}

option:hover,
option:focus {
  background: plum;
}
option .icon {
  font-size: 1.6rem;
  text-box: trim-both cap alphabetic;
}
selectedcontent .icon {
  display: none;
}
option:checked {
  font-weight: bold;
}
option::checkmark {
  order: 1;
  margin-left: auto;
  content: "☑️";
}

.hidden {
    display: none;
}

