@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-SemiboldIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-It.woff2') format('woff2'),
        url('fonts/SourceSansPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-ExtraLightIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Semibold.woff2') format('woff2'),
        url('fonts/SourceSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-LightIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.woff2') format('woff2'),
        url('fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('fonts/SourceSansPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Black.woff2') format('woff2'),
        url('fonts/SourceSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-BlackIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-BoldIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

* {
    font-family: 'Source Sans Pro';
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
}

.header {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr;
    padding: 10px 20px 10px 20px;
    align-items: center;
}

.header>h1 {
    grid-column: 2;
}

.header>.add-task {
    justify-self: end;
}

.add-task>.add-button {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
}

.projects {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 250px;
}

.add-button>svg,
.add-button>img {
    height: 2rem;
}

.proj-header {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.proj-name {
    height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.proj-card {
    padding: 20px;
    border: dashed black 1px;
    border-radius: 16px;
}

.tasks {
    display: grid;
    gap: 10px;
    font-size: 1.2rem;
    color: grey;
}

.task {
    display: flex;
    gap: 5px;
    align-items: center;
}

.checkbox {
    background-image: url('icons/uncheck.svg');
    background-repeat: no-repeat;
    height: 1.3rem;
    width: 1.3rem;
}

.checkbox:hover {
    background-image: url('icons/check.svg');
    background-repeat: no-repeat;
    height: 1.3rem;
    width: 1.3rem;
}

.new-proj {
    display: flex;
    align-items: center;
    justify-content: center;
}